/*
 * Made by Austin Tindle
 * This site uses the skeleton css framework. look it up at getskeleton.com or just look at the skeleton.css file
 */

/* Header */
header img {

}

/* Nav */
nav {
	background-color: #eeeb3f;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600
}

nav ul {
	list-style: none;
	text-align: center;
	margin-top: 2.5rem;
}

nav ul li {
	display: inline;
	padding: 0 8px;
}

ul li a {
	text-decoration: none;
	color: #000;
}

/* Sponsors */
.sponsors {
	padding: 0;
	margin: 0;
}

.sponsors .platinum {
	margin: 5rem 0;
}

.sponsors .platinum img {
	position: relative;
	max-height: 7.5rem;
	max-width: 100%;
	margin: 3rem 3rem 3rem 0;
}

.sponsors div {
	padding: 0
	margin: 2rem 0;
}

.sponsors .silver {
	margin: 5rem 0;
}

.sponsors .silver img {
	width: 20rem;
	display: inline-block;
	margin: 3rem 1rem 3rem 0;
}

/* Footer */
footer {
	border-top: 1px solid #eee;
	margin-top: 2.5rem;
	padding: 2.5rem 0;
	text-align: center;
}

/* Misc. */
.small-text  {
	font-size: 1.2rem;
}

.no-margin {
	margin-left: 0;
}

.button-sidebar {
	padding: 0 0.5rem;
	}
